

html, body {
	height: 100%;
	width: 100%;
	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	
}

*:focus {
	outline: none;
}

a, a:visited {
	color: #1B63DC;
	text-decoration: underline;
}

::-webkit-input-placeholder {
	color: #999;
}

::-moz-placeholder {
	color: #999;
}

:-ms-input-placeholder {
	color: #999;
}

body {
	font-family: 'hk_groteskregular';
	font-size: 16px;
	line-height: 1.5;
	color: #555555;
  background: linear-gradient(
    to right, 
    #ffffff 0%, 
    #ffffff 55%, 
    #f3f3f3 55%, 
    #f3f3f3 100%
  );
}

h1, h2, h3 {
	font-family: 'Neuton', serif;
}

.container {
	height: 100%;
	max-width: 100%;
	padding: 0 60px;
}

header, footer {
	height: 80px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main {
	display: flex;
	height: calc(100% - 160px);
	align-items: center;
}

.get-started {
	width: 45%;
	margin-right: 110px;
}

.artwork {
	display: none;
}

.artwork img {
	max-width: 100%;
}

.get-started h1 {
	font-weight: 700;
	font-size: 42px;
	color: #101010;
	letter-spacing: -1px;
	line-height: 44px;
	margin-bottom: 10px;
}

.get-started p {
	font-size: 22px;
	margin-bottom: 26px;
}

.get-started p.meta {
	font-size: 16px;
	color: #999999;
}

.input-wrapper {
	background: #F3F3F3;
	display: flex;
	justify-content: space-between;
	margin-bottom: 12px;
	border: 1px solid transparent;
}

.input-wrapper.invalid {
	border-color: #EA3944;
}

.input-wrapper input {
	background: transparent;
	border: none;
	color: #101010;
	font-family: hk_groteskregular;
	font-size: 16px;
	padding: 11px 13px 14px 13px;
	flex: 1;
}

.input-wrapper button {
	background: transparent;
	font-family: hk_grotesksemibold;
	border: none;
	padding: 11px 13px 14px 13px;
	color: #010101;
	position: relative;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 300ms ease;
}

.input-wrapper button:hover, .input-wrapper button:focus, .input-wrapper input:focus + button {
	background-color: rgba(0, 0, 0, 0.1);
}

footer p {
	color: #eoeoeo;
	font-size: 15px;
}

@media (min-width: 1200px) {
	.container {
		max-width: 1170px;
		margin: auto;
	}
}

@media (min-width: 1025px) {
	.artwork {
		display: block;
	}
}

@media (min-width: 1300px) {
	.get-started {
		width: 420px;
	}
}

@media (min-width: 853px) and (max-width: 999px) {
	.get-started {
		width: 70%;
	}

	body {
	  background: linear-gradient(
	    to right, 
	    #ffffff 0%, 
	    #ffffff 60%, 
	    #f3f3f3 60%, 
	    #f3f3f3 100%
	  );
	}
}

@media (max-width: 1025px) {
	body {
		background: #fff;
	}

	.container {
		padding: 0 30px;
	}

	footer, header {
		justify-content: center;
	}

	.main {
		justify-content: center;
	}

	.get-started {
		text-align: center;
		width: 55%;
		margin: 0;		
	}
}

@media (max-width: 750px) {
	.get-started p {
		font-size: 20px;		
	}

	.get-started h1 {
		font-size: 38px;		
	}

	.get-started p.meta {
		font-size: 14px;		
	}
}

@media (min-width: 300px) and (max-width: 700px) {
	.get-started {
		width: 100%;
	}

	footer {
		flex-direction: column;
		height: auto;
	}

	.get-started p {
		font-size: 18px;		
	}
}

@media (min-width: 700px) and (max-width: 850px) {
	.get-started {
		width: 70%;
		margin: 0;
		text-align: center;
	}
}



#mydiv {
    position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: ;
  
  

}

