* {
    box-sizing: border-box;
}

body ,html{
    font-family: Arial;
  background: #fafafa;
  
    height: 80%;
    margin: 0;
	padding: 0;
	box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*my css for class(paragraph) */
.p {   
	font-family: 'Basic';
	font-size: 18px;	
}

/*my css for id (h1) */
#h1 {
    font-family: Tahoma, Geneva, sans-serif;
	font-size: 28px;
}

/*my css for id (h2) */
#h2 {
    font-family: Tahoma, Geneva, sans-serif;
	font-size: 22px;
}

/*my css for class (profile_pic) */
.profile_pic {
    
    width: 60%;
    padding: 10px;
    
	height: 70%; 
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
	
      display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}


